# This workflow will build the application image.
name: build app

on: [push, pull_request]

jobs:
  build:
    name: Build app
    runs-on: ubuntu-latest
    steps:
      - name: check out repository
        uses: actions/checkout@v3
      - name: build app image
        env:
          NOTION_TOKEN: ${{ secrets.NOTION_TOKEN }}
        run: |
          docker-compose up --build -d
